.normal {
    font-weight: normal;
    background-color: yellowgreen;
    border-radius: 10px;
    padding: 3px;
}

.pressed {
    font-weight: normal;
    color: white;
    background-color: gray;
    border-radius: 10px;
    padding: 3px;
}

.disabled {
    font-weight: normal;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 3px;
}

.selected {
    font-weight: normal;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 3px;
}

.checked {
    font-weight: bold;
    border-radius: 10px;
    padding: 3px;
}